@font-face {
  font-family: 'Noto Sans SC';
  src: url('https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap');
  font-display: swap;
}

html {
  font-size: 1.125em;
  font-family: 'Noto Sans SC', sans-serif;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

body {
  @apply bg-primary-background h-full w-screen overflow-x-hidden;
}

@supports (overflow-x: clip) {
  body {
    overflow-x: clip;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: calc(0.35842vw + 0.95296em);
  }
}

@media screen and (min-width: 187.5em) {
  html {
    font-size: 1.625em;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39) !important;
    font-size: calc(14px + 2 * (100vw - 375px) / 39) !important;
  }
}

.triangle {
  background: white;
  text-align: left;
  opacity: 0.2;
  @apply absolute z-0;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
  padding: 50%;
  top: 0;
  left: 0;
}
.triangle,
.triangle:before,
.triangle:after {
  border-top-right-radius: 30%;
}

.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
